.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper > div{
    width:50%;
}
.output{
    background-color: rgb(230, 230, 230);
    color: black;
    padding:16px;
    height: 500px;
    margin:16px;
    margin-top:36px;
    overflow-y: scroll;
}
.execute,.download{
    background-color: #0070f3;
    color: #fff;
    padding:24px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin: 12px;
}
.download{
    background-color: #3da342;
}
.execute:hover{
    background-color: #0352ac;
}